
.containerCheckOut{
    max-width: 600px;
    display: flex;
    flex-direction: row;
    background-color: rgb(227, 253, 209);
    gap: 1rem;
    margin: 0.5rem;
    border: 0.5px solid rgb(77, 77, 77);
    border-radius: 2px;

}