
.container-fluid {
    padding: 0;
    margin: 0;
}

.containerBienvenida {
    display: flex;
    justify-content: space-around;
}

.button {
    margin: 0;
    height: auto;
    background: transparent;
    padding: 0;
    border: none;
}

.containerProducto {
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}


.containerVentas ul {
    padding: 0;
    list-style: none;

}

.containerMenu {
    font-size: 2.5rem;
}
