* {
    margin: 0;
    padding: 0;
}

.navbar {
    padding: 0.5rem;
}

.container-cart-dark {
    display: flex;
    flex-direction: row;
    gap: 20px;

    .cart {
        color: white;
        font-size: 1.3rem;
    }
}

.container-cart-light {
    display: flex;
    flex-direction: row;
    gap: 20px;

    .cart {
        color: black;
        font-size: 1.3rem;
    }
}

.cambiar-button-dark{
    background-color: transparent;
    border-style: none;
    color: white;
}
.cambiar-button-light{
    background-color: transparent;
    border-style: none;
    color: black;
}

.navbar-light{
    background-color: lightcyan;
}

.card-widget-dark{
    color: white
}

.card-widget-light{
    color: black
}