
.items-container {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    h2{
        margin: 5px;
    }

    h3{
        margin: 10px;
    }

    p{
        padding: 5px;
        margin: 0;
    }


    .tittle {
        width: 100%;
        display: flex;
        flex-direction: row;
        color: black;
        align-items: baseline;
        justify-content: center ;
    }

    a{
        text-decoration: none;
    }
}

.card {
    margin: 20px;
    width: 40%;
    display: flex;
    flex-direction: column;
    .img-fluid{
        padding: 0;
    }
}
