* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container-custom-button {
    margin: 0.5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.2rem;
    button{
        background-color: transparent;
        padding: 0.25rem 0.5rem;
    }
}

.container-counter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: red;
    gap: 1.2rem;
}

.container-cart {
    display: flex;
    flex-direction: row;

    p {
        margin: 0;
        padding: 0;
    }

    .cart {
        font-size: 1.3rem;
        align-items: baseline;
    }
}